<%- include("./partials/header")%>
<%if(movieData.Response==='False'){%>
<h1>Movie not found!</h1>
<%}else{%>
<h1>Results are</h1>
<div class="row">
<%movieData['Search'].forEach(function(movie){%>
<div class="col-md-4">
<div class="card" style="height: 100%;">
<img src="<%=movie.Poster%>" class="card-img-top" style="height: 70%;" alt="...">
<div class="card-body">
<h5 class="card-title"><%=movie.Title%></h5>
<a href="/result/<%=movie.imdbID%>" class="btn btn-primary">Know More</a>
</div>
</div>
</div>
<%})%>
</div>
<%}%>
<%- include("./partials/footer")%>
